## HTML

In [1]:
url = 'https://en.wikipedia.org/wiki/List_of_highest-grossing_films'

In [2]:
import pandas as pd

In [3]:
movies = pd.read_html(url)

In [5]:
type(movies)

list

## Databases
#### MySQL

In [8]:
import pandas as pd
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     -------------------------------------- 43.8/43.8 kB 165.5 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [9]:
import pymysql

In [10]:
#create a connection with the database
con = pymysql.connect(host = 'localhost',user = 'root',password = pw, database = 'employees')
# host -> host name
# user -> user name
# password
# database ->  database name

NameError: name 'pw' is not defined

In [ ]:
#get the employees table
employees = pd.read_sql('select * from employees.employees',con)